<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>
<section>
<h1>Listado de Peliculas: </h1>
<div>
<div class="movie-list">
    <% movie.forEach(movie=> { %>
        <div class="movie-item">
            <a href="/movies/<%= movie.id %>">
                <%=movie.title%>
            </a>
        </div>
    <% }); %>
</div>
</div>
</section>
<%- include('partials/footer.ejs') %>